/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Formatting Inputs for Annotation Rows */
.ReactTable input,
.ReactTable select {
  border: 0px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  width: parent;
  /* padding: 5px 7px; */
  font-size: inherit;
  /* border-radius: 3px; */
  font-weight: normal;
  outline: none
}

.ReactTable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 0px solid rgba(0, 0, 0, 0.1);
}